div[draggable-widget] {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  float: left;
  margin: 10px; }
  div[draggable-widget]:nth-child(1) {
    background: aqua; }
  div[draggable-widget]:nth-child(2) {
    background: cadetblue; }
  div[draggable-widget]:nth-child(3) {
    background: red; }
  div[draggable-widget]:nth-child(4) {
    background: darkseagreen; }

div[drag-handle] {
  border: 1px solid black;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: white;
  margin-bottom: 1em;
  cursor: move; }
