$width: 200px;
$height: 300px;
$margin: 10px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:sans-serif;
  color:#fff;
  font-size: 100%;
  width:4*$width + 10*$margin;
  margin:0 auto;
}

div[draggable-widget] {
  width:33.333%;
  height:$height;
  border-radius:5px;
  padding:10px;
  float:left;
  &.woks {
    background:aqua;
  }
  &.mocks {
    background:cadetblue;
  }
  &.socks {
    background:red;
    width:66.6666%;
  }
  &.pops {
    background:darkseagreen;
  }
  &.hocks {
    background:darkred;
  }
}
div.widget-placeholder {
  border:1px solid red;
  float:left;
  height:$height;
  margin:$margin;
}
div[draggable-widget-handle] {
  border:3px solid rgba(255,255,255,1);
  padding:10px;
  background:rgba(0,0,0,0.3);
  border-radius:3px;
  color:white;
  margin-bottom:1em;
  cursor: move;
}
