$width: 100px;
$height: 200px;
$margin: 10px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: $width * 8;
  margin:0 auto;
  font-family:sans-serif;
  color:#fff;
  font-size: 100%;
}

.group-one, .group-two {
  width:3*$width + 6*$margin;
  background:grey;
  margin:$margin;
}
.group-one {
  float:left;
}

.group-two {
  float:right;
}

div[draggable-widget] {
  width:$width;
  height:$height;
  border-radius:5px;
  padding:10px;
  float:left;
  margin:$margin;
  &.woks {
    background:aqua;
  }
  &.mocks {
    background:cadetblue;
  }
  &.socks {
    background:red;
    width:2 * $width + $margin*2;
  }
  &.pops {
    background:darkseagreen;
  }
  &.hocks {
    background:darkred;
  }
}
div.widget-placeholder {
  border:1px solid red;
  float:left;
  height:$height;
  margin:$margin;
}
div[draggable-widget-handle] {
  border:3px solid rgba(255,255,255,1);
  padding:10px;
  background:rgba(0,0,0,0.3);
  border-radius:3px;
  color:white;
  margin-bottom:1em;
  cursor: move;
}
